*{
    margin: 0;
    padding: 0;

}
.name{
    position: absolute;
}
section{
    position: relative;
    width: 100%;
    height: 35vh;
    background: #4ca1e7;
    overflow: hidden;
}
section .wave{
    position: absolute;
    bottom: 0;
    left: 0; 
    width: 100%;
    height: 100px;
    background: url(wave.png);
    background-size: 1000px 100px;
}
section .wave.wave1{
    animation: animate1 7s linear infinite ;
    bottom:0;
    opacity: 1;
    animation-delay: 0s;
    z-index: 1000;
}
section .wave.wave2{
    animation: animate2 3s linear infinite ;
    bottom:10px;
    opacity: 0.5;
    animation-delay: -5s;
    z-index: 999;

}
section .wave.wave3{
    animation: animate3 3s linear infinite ;
    bottom:20;
    opacity: 0.2;
    animation-delay:-2s;
    z-index: 998;

}
section .wave.wave4{
    animation: animate4 5s linear infinite ;
    bottom:15;
    opacity:0.7;
    animation-delay: -5s;
    z-index: 997;
}
.heading{
    border: 2px solid #71c5ee;
    background: linear-gradient(135deg, #71c5ee,#025091);

}
.heading2{
    border: 2px solid #FBEE97;
    background: linear-gradient(135deg, #FBEE97,#FBEE97);
}
.list-con{
    display: block;
    align-items: center;
    justify-content: center;
}
 .name{
    color: aliceblue;
    padding-left: 2%;
}
@keyframes animate1 {
    0%{
        background-position-x: 0;
    }
    100%{
        background-position-x: 1000px;
    }
    
}
@keyframes animate2 {
    0%{
        background-position-x: 0;
    }
    100%{
        background-position-x:-1000px;
    }
    
}
.container2{
    background: green;
}
.list2{
     display: inline; 
    padding-right: 20px;
    padding-left: 2%;
    margin-top: 20px;
}
.list1 {
   
    font-style: italic;
    margin-left: 10px; 
    padding: 10px;
    list-style-type:symbols(star);
}
.title{
    font-size: 40px;
}
.imgn{
    width: 50%;
    height: 100vh;
}
.slide-container{
    width: 100%;
    height: 100vh;
    position: relative;
    /* transform: translate(-50%,-50%);
    top: 50%;*/
    /* left: 20%; */
    overflow: hidden;
   
    border-radius: 8px;
}
.slider{
    width: 100%;
    display: flex;
    animation: slide 10s infinite;
}
@keyframes slide {
    0%{
        transform: translateX(0);
    }
    25%{
        transform: translateX(0);
    }
    30%{
        transform: translateX(-100%);
    }
    50%{
        transform: translateX(-100%);
    }
    55%{
        transform: translateX(-200%);
    }
    75%{
        transform: translateX(-200%);
    }
    80%{
        transform: translateX(0);
    }
    100%{
        transform: translateX(0);
    }
}
   
 /* ----------------    */

@media(max-width:400px){
    .slide-container{
        width: 100%;
        height: 50vh;
    }
    .slider img{
        width: 50%;
        height: 50vh;
    }
    .chain{
        position: relative;
        width: 100%;
        height: 50vh;
        flex-wrap: wrap;
        resize: both;
        overflow: auto;
    }
    .chain-img{
        position: relative;
        border-radius: 30%;
        border: 3px solid black;
        height:50vh;
        width: 50%;
        position: relative;
       
    }
    .line-con{
        position: relative;
        width: 20%;
        height: 20%;
        align-items: center;
        justify-content: center;
        position: relative;
    
    }
    .line{
        position: relative;
        width: 100%;
        height: 4px;
        background-color: black;
        margin-top: 50px;;
    }

}
@media(max-width:800px){
    .slide-container{
        width: 100%;
        height: 50vh;
    }
    .slider img{
        width: 50%;
        height: 50vh;
    }
}
.chain{
    width: 100%;
    height: 30vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    position: relative;
}
.chain-img{
    border-radius: 30%;
    border: 6px solid black;
    height: 100px;
    width: 100px;
    position: relative;
   
}
.line-con{
    width: 100px;
    height: 100px;
    align-items: center;
    justify-content: center;
    position: relative;

}
.line{
    width: 100%;
    height: 4px;
    background-color: black;
    margin-top: 50px;;
}
